*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCF2F1;
}
.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    padding: 10px 20px 20px ;
    border-radius: 12px;
    background: #0F1035;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.display{
    margin-top: 10px;
    height: 88px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 25px;
    outline: none;
    border: none;
    text-align: right;
    color: 365486;
    pointer-events: none;
    background-color: #DCF2F1;

}
.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}
.buttons button{
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    background-color: #365486;
}
.buttons button:active{
    transform: scale(0.95);
}
.operator{
    color: #DCF2F1;
}
